# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:

* List popular languages for Data Science
* List of commonly used libraries by Data Scientist
* Examples of evaluating Arithmitic Expressions

Some of the popular languages that Data Scientists use are:

1. Python

2. R

3. SQL

4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Scikit-Learn
4. Matplotlib
5. Keras
6. TensorFlow
7. PyTorch

| Data Science Tools | 
| --- | 
| Tableau |
| Power BI |
| Apache Hadoop |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5.

17.0

In [9]:
# This will convert 200 minutes to hours by diving by 60.
210/60

3.5

## Author
Amani Mohammed